<h1>
  Transactions
</h1>

<app-searchbox (query)=search($event)></app-searchbox>

<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="transactionId">
    <th mat-header-cell *matHeaderCellDef> Transaction ID </th>
    <td mat-cell *matCellDef="let item"> {{item.transactionId}} </td>
  </ng-container>

  <ng-container matColumnDef="nNumber">
    <th mat-header-cell *matHeaderCellDef> NNumber </th>
    <td mat-cell *matCellDef="let item"> {{item.nNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="budgetCode">
    <th mat-header-cell *matHeaderCellDef> Budget Code </th>
    <td mat-cell *matCellDef="let item"> {{item.budgetCode}} </td>
  </ng-container>

  <ng-container matColumnDef="timestamp">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let item"> {{item.timeStamp * 1000| date:'medium'}} </td>
  </ng-container>

  <ng-container matColumnDef="menu" >
      <th mat-header-cell *matHeaderCellDef [hidden]="!isMobile"></th>
      <td mat-cell *matCellDef="let item" [hidden]="!isMobile">
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item (click)="openDialog_Transaction(item)"> Open </button>
          <button mat-menu-item (click)="openDialog_ProcessRefund(item)"> Refund </button>
          <button mat-menu-item (click)="openDialog_DeleteTransaction(item)"> Delete </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
  </ng-container>
    <ng-container matColumnDef= "infoButton">
        <th mat-header-cell *matHeaderCellDef [hidden]="isMobile"></th>
        <td mat-cell *matCellDef="let item" [hidden]="isMobile">
        <button mat-button class="btn" (click)="openDialog_Transaction(item)"> Open </button>
        </td>
    </ng-container>

    <ng-container matColumnDef= "refundButton">
        <th mat-header-cell *matHeaderCellDef [hidden]="isMobile"></th>
        <td mat-cell *matCellDef="let item" [hidden]="isMobile">
        <button mat-button class="btn" (click)="openDialog_ProcessRefund(item)"> Refund </button>
        </td>
    </ng-container>

    <ng-container matColumnDef= "deleteButton">
        <th mat-header-cell *matHeaderCellDef [hidden]="isMobile"></th>
        <td mat-cell *matCellDef="let item" [hidden]="isMobile">
        <button mat-button class="btn" (click)="openDialog_DeleteTransaction(item)"> Delete </button>
        </td>
    </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<mat-toolbar class="bottom-toolbar" >
  <span>
    <button mat-raised-button class="btn" (click)="openDialog_Transaction()">  <img src='assets/img/add.png' width='30'> Add <div class="hidden-on-mobile"> Transaction </div> </button>
  </span>

  <span class="spacer"></span>



</mat-toolbar>
