<!--dialog box table code-->
<h1 mat-dialog-title> Hello User </h1>

<div mat-dialog-content>
  <p>
    Please fill in the below details:
  </p>

  <form action="/action_page.php">
    Transaction ID:<br>
    <input type="number" name="productname">
    <br><br>

    User ID:<br>
    <input type="text" name="productcode">
    <br><br>

    Used Budget Code:<br>
    <input type="number" name="productcode">
    <br><br>

    Date of Transaction:<br>
    <input type="date" name="currentstock">
    <br><br>

    Number Of Transactions:<br>
    <input type="number" name="basicdescription">
    <br><br>

    <input type="submit" value="Save Record">
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close prompt</button>
</div>