/* You can add global styles to this file, and also import other style files */
.full-width-field {
  width: 100%;
}


.bottom-toolbar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.spacer {
  flex: 1 1 auto;
}


