<div class="app-menu-buttons">
  <div class="app-menu-button" div  routerLink="/s/transactions">
    <img src="assets/img/log.png">
    <h3> Transactions </h3>
  </div>

  <div class="app-menu-button" div  routerLink="/s/products">
    <img src="assets/img/basket.png">
    <h3> Products </h3>
  </div>

  <div class="app-menu-button" div  routerLink="/s/members">
    <img src="assets/img/user.png">
    <h3> Staff Members </h3>
  </div>

  <div class="app-menu-button" div  routerLink="/c/home">
    <img src="assets/img/basket.png">
    <h3> Make a Transaction </h3>
  </div>
</div>

