<h1> Staff Home Page</h1>

<p>
  Please select one of the options below. 
</p>

<br>
<br>
<br>

<div class="buttons">
  <div class="container" div style="float:left;">
    <button class="btn" button (click)="router.navigate(['/transactionpage']);"> Transaction Log </button>
  </div>

  <div class="container">
    <button class="btn" button (click)="router.navigate(['/productspage']);"> Products Page </button>
  </div>

  <div class="container" div style="float:right;">
    <button class="btn" button (click)="router.navigate(['/staffmemberspage']);"> Staff Members Page </button>
  </div>
</div>