<h1> Staff Home Page</h1>

<p>
  Please select one of the options below.
</p>

<br>
<br>
<br>

<div class="buttons">
  <div class="container" div style="float:left;">
    <button class="btn" button (click)="router.navigate(['/s/transactions']);"> Transaction Log </button>
  </div>

  <div class="container">
    <button class="btn" button (click)="router.navigate(['/s/products']);"> Products Page </button>
  </div>

  <div class="container" div style="float:right;">
    <button class="btn" button (click)="router.navigate(['/s/members']);"> Staff Members Page </button>
  </div>
</div>
