.container {
  width: 30%;
  cursor: pointer;
  position: relative;
  text-align: center;
  color: white;
}

.text {
  position: absolute;
  /* top: 90%; */
  bottom: 8px;
  left: 50%;
  transform: translate(-50%, 140%);
}
