<div class="btn-group" style="width:100%">
  <button style="width:100%"><a routerLink="/home" routerLinkActive="active">Home</a></button>
  <button style="width:33.33%"> <a routerLink="/products" routerLinkActive="active">Products</a></button>
  <button style="width:33.33%"><a routerLink="/user" routerLinkActive="active">User</a></button>
  <button style="width:33.33%"><a routerLink="/history" routerLinkActive="active">History</a></button>
</div>
<br>
<div class="search-container">
      <input type="text" [(ngModel)]="searchText"  placeholder="Search.." name="search">
</div>

<!-- <table *ngIf="(products | filter: searchText).length > 0; else noResults"> 
  <table *ngIf="(products; else noResults"> 
    <colgroup>
      <col width="5%">
      <col width="*">
      <col width="20%">
      <col width="30%">
    </colgroup>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Detils</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products | filter: searchText; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{products.id}}</td>
        <td>{{products.name}}</td>
        <td>{{products.details}}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #noResults>
    <p>No results found for "{{searchText}}".</p>
</ng-template> 
-->