<!-- Table displaying products -->
<div class="container">    
  <table class="table table-bordered table-hover">
    <tr>
      <th>Product ID</th>    
      <th>Product Name</th>
      <th>Product Quantity</th>
      <th>Location Name</th>    
      <th>Expiry Date</th>    
      <th>Cost Price</th>
      <th>Product Description</th>
	</tr>
	<div *ngIf="products">
    <tr *ngFor="let product of products">
      <td>{{product.id}}</td>   
      <td>{{product.name}}</td>    
      <td>{{product.quantity}}</td>    
      <td>{{product.locationName}}</td>    
      <td>{{product.expiryDate}}</td> 
      <td>{{product.costPrice}}</td>
      <td>{{product.description}}</td>
    </tr>  
	</div>   
  </table> 
</div>   

<div class="buttons">
  <div class="container" div style="float:left;">
    <img src="assets/Images/placeholder.png" alt="Snow">
    <button class="btn"> Add Product Window </button>
  </div>

  <div class="container" div style="float:left;">
    <img src="assets/Images/placeholder.png" alt="Snow">
    <button class="btn"> Edit Product Window </button>
  </div>

  <div class="container" div style="float:left;">
    <img src="assets/Images/placeholder.png" alt="Snow">
    <button class="btn"> Remove Product Window </button>
  </div>
</div>