<h1 mat-dialog-title> Staff </h1>

<mat-dialog-content>

  <mat-form-field class="full-width-field">
    <input matInput type="text" placeholder="ID" name="id" [disabled]="editMode || disabled"  required [(ngModel)]="model.id">
  </mat-form-field>

  <mat-form-field class="full-width-field">
    <input matInput type="text" placeholder="Username" name="username" [disabled]="disabled"  required [(ngModel)]="model.username">
  </mat-form-field>

  <mat-form-field class="full-width-field">
    <input matInput type="text" placeholder="Password" name="password" [disabled]="disabled"  required [(ngModel)]="model.passwordHash">
  </mat-form-field>

  <mat-form-field class="full-width-field">
    <input matInput type="number" placeholder="Access Level" name="privLevel" [disabled]="disabled"  required [(ngModel)]="model.privLevel">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button *ngIf="disabled;else elseBlock" mat-raised-button (click)="onNoClick()">Close</button>
  <ng-template #elseBlock>
    <button mat-raised-button (click)="onSubmit()">Save</button>
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
  </ng-template>
</mat-dialog-actions>
