<div class="buttons">
  <div class="container" div style="float:left;">
    <img src="assets/Images/placeholder.png" alt="Snow">
    <button class="btn">Add Item Page</button>
  </div>

  <div class="container" div style="float:left;">
    <img src="assets/Images/placeholder.png" alt="Snow">
    <button class="btn"> Customer Log Page </button>
  </div>

  <div class="container" div style="float:left;">
    <img src="assets/Images/placeholder.png" alt="Snow">
    <button class="btn"> Item Log Page </button>
  </div>
</div>