<h1>Welcome!</h1>

<p>
  Please specify which of the below options applies to you. 
</p>

<div class="buttons">
  <div class="container" div style="float:left;">
    <img src="assets/Images/placeholder.png" alt="Snow">
    <button class="btn" button (click)="router.navigate(['/customerloginpage']);"> Customer </button>
  </div>

  <div class="container" div style="float:left;">
    <img src="assets/Images/placeholder.png" alt="Snow">
    <button class="btn" button (click)="router.navigate(['/staffloginpage']);"> Staff Member </button>
  </div>
</div>