<h1 mat-dialog-title>
<div *ngIf="data.editMode; else elseBlock"> Edit Product</div>
<ng-template #elseBlock></ng-template>
</h1>

<mat-dialog-content>
  <mat-form-field class="full-width-field">
    <input matInput type="text" placeholder="Enter Product Id" name="id" [disabled]="data.editMode"  required [(ngModel)]="model.id">
  </mat-form-field>

  <mat-form-field class="full-width-field">
    <input matInput type="text" placeholder="Enter Product Name" name="name" required [(ngModel)]="model.name">
  </mat-form-field>

  <mat-form-field class="full-width-field">
    <input matInput type="number" placeholder="Enter Stock Level" name="quantity" required [(ngModel)]="model.quantity">
  </mat-form-field>

  <mat-form-field class="full-width-field">
    <input matInput type="text" placeholder="Stock Location" name="locationName" required [(ngModel)]="model.locationName">
  </mat-form-field>

  <mat-form-field class="full-width-field">
    <input matInput type="datetime" placeholder="Expiry Date" name="expiryDate" required [(ngModel)]="model.expiryDate">
  </mat-form-field>

  <mat-form-field class="full-width-field">
    <input matInput type="number" placeholder="Cost Price" name="costPrice" required [(ngModel)]="model.costPrice">
  </mat-form-field>

  <mat-form-field class="full-width-field">
    <input matInput type="number" placeholder="Description" name="description" required [(ngModel)]="model.description">
  </mat-form-field>

  <button mat-button [mat-dialog-close]="model" cdkFocusInitial>Save Record</button>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close prompt</button>
</div>
