<mat-card>
  <mat-card-header><mat-card-title>Login</mat-card-title></mat-card-header>
  <form (ngSubmit)="onSubmit()">
  <mat-card-content>
    <mat-form-field class="full-width-field">
      <input matInput type="text" placeholder="Username" name="uname" required [(ngModel)]="user.id">
    </mat-form-field>
    <div *ngIf="authoService.isStaff">
      <mat-form-field class="full-width-field">
        <input matInput type="password" placeholder="Password" name="password" required [(ngModel)]="user.passwordHash">
      </mat-form-field>
    </div>
  </mat-card-content>
    <mat-card-actions>
      <div class="login-buttons">
        <button mat-raised-button type="submit">Login</button>
      </div>
    </mat-card-actions>
  </form>
</mat-card>
