<h1>
  Products Page
</h1>

<!-- The form -->
<form class="example" action="search()">
  <input type="text" placeholder="Search a product code..." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>


<table mat-table [dataSource]="products">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let product"> {{product.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let product"> {{product.name}} </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> Quantity </th>
    <td mat-cell *matCellDef="let product"> {{product.quantity}} </td>
  </ng-container>

  <ng-container matColumnDef="locationName">
    <th mat-header-cell *matHeaderCellDef> Location </th>
    <td mat-cell *matCellDef="let product"> {{product.locationName}} </td>
  </ng-container>

  <ng-container matColumnDef="expiryDate">
    <th mat-header-cell *matHeaderCellDef> Expiry </th>
    <td mat-cell *matCellDef="let product"> {{product.expiryDate}} </td>
  </ng-container>

  <ng-container matColumnDef="costPrice">
    <th mat-header-cell *matHeaderCellDef> Cost </th>
    <td mat-cell *matCellDef="let product"> {{product.costPrice}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let product"> {{product.description}} </td>
  </ng-container>

  <ng-container matColumnDef= "editButton">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let product">
    <button mat-button class="btn" (click)="openDialog_EditProduct(product)"> Edit </button>
    </td>
  </ng-container>

  <ng-container matColumnDef= "deleteButton">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let product">
    <button mat-button class="btn" (click)="openDialog_DeleteProduct(product)"> Delete </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<div class="buttons">
  <div class="container" div style="float:left;">
    <button mat-button class="btn" (click)="openDialog_AddProduct()"> Add Product </button>
  </div>
</div>



